
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    align-items: center;
    display: flex;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: burlywood;
    width: 100%;
    padding: 15px; 
}
.logo { 
    width: 25%;
    margin-right: 20%;
}
.menu{
    width: 50%;
}
.menu nav a{
    color: black;
    text-decoration: none;  
    padding-right: 55px;
    font-size: 15px;
    position: relative;
}
.menu nav a:hover::after{
    content: " ";
    width: 30px;
    height: 4px;
    background-color:#ffffff;
    position: absolute;
    top: 20px;
    left: 0;
}

p{
    color: rgb(185, 158, 7);
    font-family:cursive;
    line-height: 1.5;
    margin: 0;
}
.banner{
    margin: auto;
    margin-top: 3%;
    display: block;
}
.flex-container {
    display: flex;
    justify-content:space-around;
 }
.flex-container img{
    border-radius: 10%;
}